In [1]:
import pandas as pd
import numpy as np

In [3]:
import os
path = os.getcwd()
print(path)

#절대경로
#상대경로

df = pd.read_csv('./winequality.csv')
df

c:\Users\enter\OneDrive\바탕 화면\yeardream강의\python_advance\04-25

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.270,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,white,6.3,0.300,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,white,8.1,0.280,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,white,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,white,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,red,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
6493,red,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,NaN,11.2,6
6494,red,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
6495,red,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
6496,red,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [ ]:
- type 와인의 종류(white, red)
- type

연습문제 1: 와인 데이터셋을 불러와 데이터프레임으로 만들어보세요.

연습문제 2: 기술통계 정보를 출력해보세요.

In [4]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,6487.000000,6489.000000,6494.000000,6495.000000,6495.000000,6497.000000,6497.000000,6497.000000,6488.000000,6493.000000,6497.000000,6497.000000
mean,7.216579,0.339691,0.318722,5.444326,0.056042,30.525319,115.744574,0.994697,3.218395,0.531215,10.491801,5.818378
std,1.296750,0.164649,0.145265,4.758125,0.035036,17.749400,56.521855,0.002999,0.160748,0.148814,1.192712,0.873255
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,77.000000,0.992340,3.110000,0.430000,9.500000,5.000000
50%,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994890,3.210000,0.510000,10.300000,6.000000
75%,7.700000,0.400000,0.390000,8.100000,0.065000,41.000000,156.000000,0.996990,3.320000,0.600000,11.300000,6.000000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000,9.000000

연습문제 12: 'alcohol' 열이 가장 높은 5개 데이터의 'quality' 열 값을 출력하세요.

In [ ]:
new_df = df.sort_values('alcohol', ascending=False).head() #내림차순했을 때 상위 5개 
new_df = df.sort_values('alcohol').tail() #오름차순 일 때의 하위 5개

new_df['quality']

연습문제 13: 'chlorides' 열의 값이 가장 높은 데이터 10개의 'pH' 열 값을 출력하세요.

In [12]:
top_10_chlorides_pH = df.sort_values('chlorides', ascending=True).head(10)['pH']
top_10_chlorides_pH 
#head() 괄호안에 인트를 넣으면된다.

3773    3.26
5734    3.26
5735    3.26
2631    3.26
3901    3.32
3638    3.24
3770    3.03
2578    3.40
2922    3.13
3759    2.99
Name: pH, dtype: float64

연습문제 14: 'sulphates' 열의 값이 0.4 이하인 데이터의 'quality' 열 값을 1로 변경하세요.

In [13]:
df['sulphates'] <=0.4

0       False
1       False
2       False
3        True
4        True
        ...
6492    False
6493    False
6494    False
6495    False
6496    False
Name: sulphates, Length: 6497, dtype: bool

In [14]:
df[df['sulphates'] <=0.4]

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
3,white,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,white,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
16,white,6.3,0.480,0.04,1.1,0.046,30.0,99.0,0.99280,3.24,0.36,9.6,6
17,white,NaN,0.660,0.48,1.2,0.029,29.0,75.0,0.98920,3.33,0.39,12.8,8
20,white,6.2,0.660,0.48,1.2,0.029,29.0,75.0,0.98920,3.33,0.39,12.8,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6185,red,8.0,0.600,0.08,2.6,0.056,3.0,7.0,0.99286,3.22,0.37,13.0,5
6197,red,7.6,1.580,0.00,2.1,0.137,5.0,9.0,0.99476,3.50,0.40,10.9,3
6245,red,7.2,0.655,0.03,1.8,0.078,7.0,12.0,0.99587,3.34,0.39,9.5,5
6246,red,7.2,0.655,0.03,1.8,0.078,7.0,12.0,0.99587,3.34,0.39,9.5,5
6267,red,6.6,0.610,0.00,1.6,0.069,4.0,8.0,0.99396,3.33,0.37,10.4,4

In [18]:
df[df['sulphates'] <=0.4]['quality']

3       6
4       6
16      6
17      8
20      8
       ..
6185    5
6197    3
6245    5
6246    5
6267    4
Name: quality, Length: 1195, dtype: int64

In [ ]:
df.loc[row_indexer, column_indexer]

<p style="font-size:14px;"> 
df.loc[]는 판다스 데이터프레임에서 
특정 위치의 값을 선택하거나 변경하는 메소드입니다.
</p>
<p style="font-size:14px;"> 
.loc 메소드는 다음과 같은 구조를 가집니다.
df.loc[row_indexer, column_indexer]
</p>
<p style="font-size:14px;">
여기서 row_indexer는 행 인덱스를 선택하는 방법이고, column_indexer는 열 인덱스를 선택하는 방법입니다. 
row_indexer와 column_indexer는 각각 슬라이싱, 리스트, 불리언 인덱싱 등으로 선택할 수 있습니다.
 </p>
<p style="font-size:14px;"> </p>
<p style="font-size:14px;">
df.loc[row_indexer, column_indexer]는 
row_indexer와 column_indexer에 해당하는 위치의 값을 선택합니다. 
이후, 선택한 값을 변경하거나 새로운 값을 할당할 수 있습니다.
 </p>
<p style="font-size:14px;"> 
예를 들어, 다음과 같은 코드는 df 데이터프레임에서 인덱스가 0인 행과 column1 열의 값을 선택합니다.
</p>
<p style="font-size:14px;"> 
df.loc[0, 'column1']
</p>
<p style="font-size:14px;"> 
이후, 선택한 값을 변경하거나 새로운 값을 할당할 수 있습니다.

</p>
<p style="font-size:14px;"> </p>
<p style="font-size:14px;"> 
df.loc[0, 'column1'] = 100
</p>
<p style="font-size:14px;"> 
위 코드는 df 데이터프레임에서 인덱스가 0인 행과 column1 열의 값을 100으로 변경합니다.

</p>
<p style="font-size:14px;"> </p>

In [ ]:
df[df['sulphates'] <=0.4]['quality']  = 1

df['sulphates'] <= 0.4 # 인덱싱할 수 있조건이다.


#loc 는 값이다. 인덱스 값! True인 인덱스 값만 인식을 한다.
#df['sulphates'] <=0.4 그래서 이 조건을 넣으면 내가 원하는 True인 값들만 인덱스값만 조건이 된다.

# df.loc[인덱스할 수 있는 조건 ,'컬럼명']

### 방법 1

In [61]:
 df.loc[df['sulphates'] <= 0.4, 'quality'] = 1

연습문제 15: 'fixed acidity' 열의 값이 7 이하인 데이터의 'quality' 열 값을 0으로, 8 이상인 데이터의 'quality' 열 값을 2로 변경하세요. 나머지 데이터는 변경하지 않습니다.

In [62]:
fixed_acidity_under_7 = df['fixed acidity'] <= 7

df[fixed_acidity_under_7] = 0

fixed_acidity_over_8  = df['fixed acidity'] >= 8

df[fixed_acidity_over_8] =2

df

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,0,0.0,0.00,0.00,0.0,0.000,0.0,0.0,0.0000,0.00,0.0,0.0,0
1,0,0.0,0.00,0.00,0.0,0.000,0.0,0.0,0.0000,0.00,0.0,0.0,0
2,2,2.0,2.00,2.00,2.0,2.000,2.0,2.0,2.0000,2.00,2.0,2.0,2
3,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.4,9.9,1
4,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.4,9.9,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,0,0.0,0.00,0.00,0.0,0.000,0.0,0.0,0.0000,0.00,0.0,0.0,0
6493,0,0.0,0.00,0.00,0.0,0.000,0.0,0.0,0.0000,0.00,0.0,0.0,0
6494,0,0.0,0.00,0.00,0.0,0.000,0.0,0.0,0.0000,0.00,0.0,0.0,0
6495,0,0.0,0.00,0.00,0.0,0.000,0.0,0.0,0.0000,0.00,0.0,0.0,0
6496,0,0.0,0.00,0.00,0.0,0.000,0.0,0.0,0.0000,0.00,0.0,0.0,0

In [63]:
fixed_acidity_under_7 = df['fixed acidity'] <= 7
fixed_acidity_under_7_is_0 = fixed_acidity_under_7.loc[:, 'quality'] = 0 #quality 컬럼 값을 0으로 변경

fixed_acidity_under_7_is_0

IndexingError: Too many indexers

In [65]:
fixed_acidity_under_7 = df['fixed acidity'] <= 7
df.loc[fixed_acidity_under_7, 'quality'] = 0

fixed_acidity_over_8 = df['fixed acidity'] >= 8
df.loc[fixed_acidity_over_8, 'quality'] = 2

df

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,0,0.0,0.00,0.00,0.0,0.000,0.0,0.0,0.0000,0.00,0.0,0.0,0
1,0,0.0,0.00,0.00,0.0,0.000,0.0,0.0,0.0000,0.00,0.0,0.0,0
2,2,2.0,2.00,2.00,2.0,2.000,2.0,2.0,2.0000,2.00,2.0,2.0,0
3,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.4,9.9,1
4,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.4,9.9,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,0,0.0,0.00,0.00,0.0,0.000,0.0,0.0,0.0000,0.00,0.0,0.0,0
6493,0,0.0,0.00,0.00,0.0,0.000,0.0,0.0,0.0000,0.00,0.0,0.0,0
6494,0,0.0,0.00,0.00,0.0,0.000,0.0,0.0,0.0000,0.00,0.0,0.0,0
6495,0,0.0,0.00,0.00,0.0,0.000,0.0,0.0,0.0000,0.00,0.0,0.0,0
6496,0,0.0,0.00,0.00,0.0,0.000,0.0,0.0,0.0000,0.00,0.0,0.0,0

연습문제 16: 'quality' 열의 값이 0인 데이터 중 'fixed acidity' 열의 값을 7로 변경하세요.

In [75]:
df.loc[df['quality'] == 0, 'fixed acidity'] = 7

df

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,"(0, fixed acidity)"
0,0,7.0,0.00,0.00,0.0,0.000,0.0,0.0,0.0000,0.00,0.0,0.0,0,7
1,0,7.0,0.00,0.00,0.0,0.000,0.0,0.0,0.0000,0.00,0.0,0.0,0,7
2,2,7.0,2.00,2.00,2.0,2.000,2.0,2.0,2.0000,2.00,2.0,2.0,0,7
3,white,7.0,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.4,9.9,0,7
4,white,7.0,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.4,9.9,0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,0,7.0,0.00,0.00,0.0,0.000,0.0,0.0,0.0000,0.00,0.0,0.0,0,7
6493,0,7.0,0.00,0.00,0.0,0.000,0.0,0.0,0.0000,0.00,0.0,0.0,0,7
6494,0,7.0,0.00,0.00,0.0,0.000,0.0,0.0,0.0000,0.00,0.0,0.0,0,7
6495,0,7.0,0.00,0.00,0.0,0.000,0.0,0.0,0.0000,0.00,0.0,0.0,0,7
6496,0,7.0,0.00,0.00,0.0,0.000,0.0,0.0,0.0000,0.00,0.0,0.0,0,7