In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('nba.csv')

In [6]:
df.info(
    
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [4]:
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [22]:
mean_salary_by_team = df.groupby('Team').sort_values(by='Salary', ascending=False)
mean_salary_by_team

AttributeError: 'DataFrameGroupBy' object has no attribute 'sort_values'

In [24]:
mean_salary_by_team = df.groupby('Team')['Salary'].mean()
mean_salary_by_team


#위 예시에서 5.088576e+06은 5.088576 x 10^6을 의미하며, 
# 이는 약 5088576의 값을 나타냅니다. 
# 즉, 원래의 값이 5,088,576임을 알 수 있습니다.

Team
Atlanta Hawks             4.860197e+06
Boston Celtics            4.181505e+06
Brooklyn Nets             3.501898e+06
Charlotte Hornets         5.222728e+06
Chicago Bulls             5.785559e+06
Cleveland Cavaliers       7.642049e+06
Dallas Mavericks          4.746582e+06
Denver Nuggets            4.294424e+06
Detroit Pistons           4.477884e+06
Golden State Warriors     5.924600e+06
Houston Rockets           5.018868e+06
Indiana Pacers            4.450122e+06
Los Angeles Clippers      6.323643e+06
Los Angeles Lakers        4.784695e+06
Memphis Grizzlies         5.467920e+06
Miami Heat                6.347359e+06
Milwaukee Bucks           4.350220e+06
Minnesota Timberwolves    4.593054e+06
New Orleans Pelicans      4.355304e+06
New York Knicks           4.581494e+06
Oklahoma City Thunder     6.251020e+06
Orlando Magic             4.297248e+06
Philadelphia 76ers        2.213778e+06
Phoenix Suns              4.229676e+06
Portland Trail Blazers    3.220121e+06
Sacramento Kings          4.778911e+06
San Antonio Spurs         5.629516e+06
Toronto Raptors           4.741174e+06
Utah Jazz                 4.204006e+06
Washington Wizards        5.088576e+06
Name: Salary, dtype: float64

In [26]:
mean_salary_by_team = df.groupby('Team')['Salary'].mean().apply(lambda x: '{:,.0f}'.format(x))
mean_salary_by_team

Team
Atlanta Hawks             4,860,197
Boston Celtics            4,181,505
Brooklyn Nets             3,501,898
Charlotte Hornets         5,222,728
Chicago Bulls             5,785,559
Cleveland Cavaliers       7,642,049
Dallas Mavericks          4,746,582
Denver Nuggets            4,294,424
Detroit Pistons           4,477,884
Golden State Warriors     5,924,600
Houston Rockets           5,018,868
Indiana Pacers            4,450,122
Los Angeles Clippers      6,323,643
Los Angeles Lakers        4,784,695
Memphis Grizzlies         5,467,920
Miami Heat                6,347,359
Milwaukee Bucks           4,350,220
Minnesota Timberwolves    4,593,054
New Orleans Pelicans      4,355,304
New York Knicks           4,581,494
Oklahoma City Thunder     6,251,020
Orlando Magic             4,297,248
Philadelphia 76ers        2,213,778
Phoenix Suns              4,229,676
Portland Trail Blazers    3,220,121
Sacramento Kings          4,778,911
San Antonio Spurs         5,629,516
Toronto Raptors           4,741,174
Utah Jazz                 4,204,006
Washington Wizards        5,088,576
Name: Salary, dtype: object

In [35]:
height_cm = df['Height'] = df['Height'].apply(lambda x: float(x.replace('-', ''))*2.54)

height_cm


# 위 오류는 float 타입은 replace() 메소드를 지원하지 않기 때문에 발생한 것입니다. 
# 따라서, replace() 메소드를 호출하기 전에 str() 함수를 사용하여 float 타입의 값을 str 타입으로 변환해야 합니다.

AttributeError: 'float' object has no attribute 'replace'

In [39]:
height_cm = df['Height'] = df['Height'].apply(lambda x: float(str(x).replace('-', ''))*2.54)


height_cm.sort_values(ascending=True)

# print(height_cm)
# df[['Name','Height']]

11     6.594611e+05
228    6.706384e+05
57     6.706384e+05
67     6.706384e+05
100    6.706384e+05
           ...
143    6.829334e+06
208    6.829334e+06
167    6.829334e+06
24     6.829334e+06
457             NaN
Name: Height, Length: 458, dtype: float64

In [43]:


#1) 어떤 선수를 우리팀에 데려오면 좋을까?


#저는 팀별로 먼저 보곘다.
groupby_team = df.groupby('Team')
# groupby_team.groups
list(groupby_team)

for name, team in groupby_team:
    print(name + ':' +  team)
    # print(name + ':'+ str(len(team)))

UFuncTypeError: ufunc 'add' did not contain a loop with signature matching types (dtype('<U14'), dtype('float64')) -> None