In [2]:
import pandas as pd
import numpy as np

data = { 
    'country' : ['kor', 'usa','china','japan'],
    'rank' : [1,2,3,4],
    'grage' : ['a','b','c','d']
        
        }

df = pd.DataFrame(data)


df['country'] #이게 인덱싱하는 방법

0      kor
1      usa
2    china
3    japan
Name: country, dtype: object

In [3]:
print(df)

  country  rank grage
0     kor     1     a
1     usa     2     b
2   china     3     c
3   japan     4     d

In [4]:
df

df[['rank','country']]

   rank country
0     1     kor
1     2     usa
2     3   china
3     4   japan

In [5]:
df

  country  rank grage
0     kor     1     a
1     usa     2     b
2   china     3     c
3   japan     4     d

In [6]:
df['rank'] > 2 #True/False

0    False
1    False
2     True
3     True
Name: rank, dtype: bool

df['rank'] > 2는 DataFrame의 'rank'열의 값이 2보다 큰지 여부를 판별한 결과를 나타내는 불린(boolean) Series 객체를 반환합니다.

불린 Series 객체는 원래의 데이터와 같은 크기의 Series 객체이며, 
각각의 원소는 True 또는 False 값을 가집니다. 
이때, True는 해당 위치의 조건을 만족하고, 
False는 해당 위치의 조건을 만족하지 않음을 나타냅니다.

따라서, df['rank'] > 2는 'rank'열의 각 원소가 2보다 큰지 여부를 판별한 결과를 나타내며, True/False 형식으로 표시됩니다. 
이러한 불린 Series 객체는 데이터프레임에서 조건에 따라 행을 선택하는 등 다양한 용도로 활용됩니다.