# Pands 설치 및 라이브러리 import

In [ ]:
!pip install pandas

In [ ]:

import pandas as pd
import numpy as np

# Series

- 1개의 컬럼으로 구성된 1차원 데이터 셋

In [ ]:

data = ["A", "B", "C", "D", "E"]

se = pd.Series(data)

se.index = ['a', 'b', 'c', 'd', 'e']
se.values
se[0]
se[0:3]

se.index.name = "No."
se.name = "alphabet"


print('se.index.name이 무엇일까?',se.index.name)
print('se.name 이 무엇이일까?',se.name)

print(se)


# 변수 se = Series(data)의 의미는 list data를 인자로 넣어서 Pandas Seires를 만들었다.
# 각 행은 인덱스로 표현된다.
# 각 열은 값으로 표현된다.
# Series에 저장된 값들은 array-like object로 저장된다. index label은 별도의 배열로 저장된다.
# pd.Series constructor 에 data list 를 전달해서 새로운 Series인 se를 만든다. 
# 생성된 변수 se 에 할당된다.

# DataFrame

In [ ]:
# 기획직군, PM직군도 DataAnalysis 장착하는 추세. (default)

import pandas as pd
import numpy as np

data = np.array([[1,2,3], [4,5,6], [7,8,9]])
index = ['A', 'B', 'C']
columns = ['D', 'E', 'F']

pd.DataFrame(data=data, index=index, columns=columns)

In [ ]:
data = {
    'country' : ["kor", "usa", "china", "japan"],
    'rank' : [1,2,3,4],
    'grade' : ["A", "B", "C", "D"]
}

df = pd.DataFrame(data)

# index 값 변경
df.index = ['a', 'b', 'c', 'd']

# new_df = df.set_index('rank')
new_df = df.set_index(['rank', 'grade'])
new_df

# 데이터 셀렉션  ( 70 % ~ 80 %)

 내가 들고 오고 싶은 컬럼값만 들고 올 수 있다.
 
 
 - df.컬럼명, df['컬럼명']
 - df.loc[] =>  인덱스명, 컬럼명 기반이라 더 직관적이다. df.loc[0:100, ['rank','grade']] (0부터 100까지 불러오고, rank랑 grade불러와줘라)
 - df.iloc[]  => 위치 기반이라서 숫자 데이터가 들어간다.

In [ ]:
# df (1) df.컬럼명, df['컬럼명']


df.country
df['country']

In [ ]:
df[['rank','country']]

columns = ['rank','country']

test_column1 = ['rank','country']
test_column2 =['rank','grade']
test_column3 = ['grade','country']

new_df1 = df[test_column1]
new_df2 = df[test_column2]
new_df3 = df[test_column3]

In [ ]:
#(2) loc[인덱스명,컬럼명]
print(df)
df.loc['c',['grade','rank']] #여러가지 데이터를 들고 올 때는 리스트를 활용을 한다. 

#a-c까지 다 가져오는 방법 => 범위를 지정해주면된다.

df.loc['a':'c', ['grade','rank']]
df.loc['a':,['grade','rank']]

#데이터를 다 불러오는 방법 
df.loc[:]

In [ ]:

#country가 kor, usa인 값을 출력해주세요.
#데이터를 추출하는 방법



df['rank'] > 2 #True/False
df[df['rank']>2] #df형식으로 나온다.

# df[df['country'] =='kor' | df['country'] =='usa']
df[(df['country']=='kor') | (df['country'] == 'usa')]

In [ ]:
#3)iloc[인덱스, 컬럼인덱스] => location 위치 기반으로 데이터를 가져온다. 

df.loc[0] #에러가 나온다. loc 뒤에는 인덱스명, 컬럼명이 들어온다. 
df.iloc[0] #인덱스 값이 0인 녀석

In [ ]:
new_df = df
new_df.index=[0,1,2,3]
new_df

In [ ]:
new_df.loc[0]

new_df.loc[0:3] #값이 0부터 3인 것을 다 가져와줘

In [ ]:
new_df.iloc[0:3] #범위 (3보다 크거나 같고 3보다 작은 값)

# filter() 를 통한 데이터 가져오기

In [74]:
df

  country  rank grade
0     kor     1     A
1     usa     2     B
2   china     3     C
3   japan     4     D

In [77]:
df.filter(like = '0',axis=0)  #df가 0인 값들을 찾아줘 index를 기준으로 찾겠다. 
df.filter(like='a', axis=1)

df.filter(like='c', axis=1) # 컬럼값 중에서 c인 값들만

  country
0     kor
1     usa
2   china
3   japan

# 데이터를 추가하는 방법

In [83]:
df.index =[0,1,2,3]

In [84]:
president = pd.Series(['yoon','biden','jinping','kishida'])

# 기존에 있는 컬럼의 값들을 계산해서 또 다른 커럶을 추가하는 것 

df['president'] = president
df

  country  rank grade president    gdp
0     kor     1     A      yoon   1000
1     usa     2     B     biden   2000
2   china     3     C   jinping   3000
3   japan     4     D   kishida  40000

In [85]:
gdp = pd.Series(['1000','2000','3000','40000'])

df['gdp'] = gdp

In [82]:
df

  country  rank grade president    gdp
0     kor     1     A      yoon   1000
1     usa     2     B     biden   2000
2   china     3     C   jinping   3000
3   japan     4     D   kishida  40000

In [94]:
import numpy as np
etc = np.zeros(4).astype(int)
print(etc)

df['etc'] = etc
df

[0 0 0 0]

  country  rank grade president    gdp  etc
0     kor     1     A      yoon   1000    0
1     usa     2     B     biden   2000    0
2   china     3     C   jinping   3000    0
3   japan     4     D   kishida  40000    0

In [102]:


print(df['rank'] <3 )

print('===================')

df['boolean_rank'] = df['rank'] < 3
df

0     True
1     True
2    False
3    False
Name: rank, dtype: bool
===================

  country  rank grade president    gdp  etc  boolean_rank
0     kor     1     A      yoon   1000    0          True
1     usa     2     B     biden   2000    0          True
2   china     3     C   jinping   3000    0         False
3   japan     4     D   kishida  40000    0         False

## 행 데이터 추가하는 법

In [123]:
df.loc[7] = ['singaploe', 5, 'E', 'jao', '2000', 0, False]

df

#인덱스 값이 7인 싱가폴 데이터를 이렇게 추가할 수 있다.

     country  rank grade president   gdp  etc  boolean_rank
0        kor     1     A      yoon  1000    0          True
1        usa     2     B     biden  2000    0          True
2      china     3     C   jinping  3000    0         False
7  singaploe     5     E       jao  2000    0         False

# 데이터를 삭제하는 법

In [108]:
df.drop?




# 기본값들을 볼 수 있다.

Signature:
df.drop(
    labels: 'IndexLabel' = None,
    *,
    axis: 'Axis' = 0,
    index: 'IndexLabel' = None,
    columns: 'IndexLabel' = None,
    level: 'Level' = None,
    inplace: 'bool' = False,
    errors: 'IgnoreRaise' = 'raise',
) -> 'DataFrame | None'
Docstring:
Drop specified labels from rows or columns.

Remove rows or columns by specifying label names and corresponding
axis, or by specifying directly index or column names. When using a
multi-index, labels on different levels can be removed by specifying
the level. See the :ref:`user guide <advanced.shown_levels>`
for more information about the now unused levels.

Parameters
----------
labels : single label or list-like
    Index or column labels to drop. A tuple will be used as a single
    label and not treated as a list-like.
axis : {0 or 'index', 1 or 'columns'}, default 0
    Whether to drop labels from the index (0 or 'index') or
    columns (1 or 'columns').
index : single label or list-like
    Alternative to specifying axis (``labels, axis=0``
    is equivalent to ``index=labels``).
columns : single label or list-like
    Alternative to specifying axis (``labels, axis=1``
    is equivalent to ``columns=labels``).
level : int or level name, optional
    For MultiIndex, level from which the labels will be removed.
inplace : bool, default False
    If False, return a copy. Otherwise, do operation
    inplace and return None.
errors : {'ignore', 'raise'}, default 'raise'
    If 'ignore', suppress error and only existing labels are
    dropped.

Returns
-------
DataFrame or None
    DataFrame without the removed index or column labels or
    None if ``inplace=True``.

Raises
------
KeyError
    If any of the labels is not found in the selected axis.

See Also
--------
DataFrame.loc : Label-location based indexer for selection by label.
DataFrame.dropna : Return DataFrame with labels on given axis omitted
    where (all or any) data are missing.
DataFrame.drop_duplicates : Return DataFrame with duplicate rows
    removed, optionally only considering certain columns.
Series.drop : Return Series with specified index labels removed.

Examples
--------
>>> df = pd.DataFrame(np.arange(12).reshape(3, 4),
...                   columns=['A', 'B', 'C', 'D'])
>>> df
   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

Drop columns

>>> df.drop(['B', 'C'], axis=1)
   A   D
0  0   3
1  4   7
2  8  11

>>> df.drop(columns=['B', 'C'])
   A   D
0  0   3
1  4   7
2  8  11

Drop a row by index

>>> df.drop([0, 1])
   A  B   C   D
2  8  9  10  11

Drop columns and/or rows of MultiIndex DataFrame

>>> midx = pd.MultiIndex(levels=[['lama', 'cow', 'falcon'],
...                              ['speed', 'weight', 'length']],
...                      codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2],
...                             [0, 1, 2, 0, 1, 2, 0, 1, 2]])
>>> df = pd.DataFrame(index=midx, columns=['big', 'small'],
...                   data=[[45, 30], [200, 100], [1.5, 1], [30, 20],
...                         [250, 150], [1.5, 0.8], [320, 250],
...                         [1, 0.8], [0.3, 0.2]])
>>> df
                big     small
lama    speed   45.0    30.0
        weight  200.0   100.0
        length  1.5     1.0
cow     speed   30.0    20.0
        weight  250.0   150.0
        length  1.5     0.8
falcon  speed   320.0   250.0
        weight  1.0     0.8
        length  0.3     0.2

Drop a specific index combination from the MultiIndex
DataFrame, i.e., drop the combination ``'falcon'`` and
``'weight'``, which deletes only the corresponding row

>>> df.drop(index=('falcon', 'weight'))
                big     small
lama    speed   45.0    30.0
        weight  200.0   100.0
        length  1.5     1.0
cow     speed   30.0    20.0
        weight  250.0   150.0
        length  1.5     0.8
falcon  speed   320.0   250.0
        length  0.3     0.2

>>> df.drop(index='cow', columns='small')
                big
lama    speed   45.0
        weight  200.0
        length  1.5
falcon  speed   320.0
        weight  1.0
        length  0.3

>>> df.drop(index='length', level=1)
                big     small
lama    speed   45.0    30.0
        weight  200.0   100.0
cow     speed   30.0    20.0
        weight  250.0   150.0
falcon  speed   320.0   250.0
        weight  1.0     0.8
File:      c:\users\enter\miniconda3\lib\site-packages\pandas\core\frame.py
Type:      method

In [115]:


#행제거 


print(df.drop([3])) 

#3행을 제거하겠다.
#그 이유가 axis =0 이라는 값이 default라서 그렇다. 


print('--------------------------------------------------------------')
print('--------------------------------------------------------------')
print('--------------------------------------------------------------')
print('--------------------------------------------------------------')
print('--------------------------------------------------------------')
print('--------------------------------------------------------------')

#컬럼제거


print(df.drop('etc',axis =1 ))

#axis 가 1이면 컬럼 데이터를 지워달라는 뜻이구나

     country  rank grade president   gdp  etc  boolean_rank
0        kor     1     A      yoon  1000    0          True
1        usa     2     B     biden  2000    0          True
2      china     3     C   jinping  3000    0         False
7  singaploe     5     E       jao  2000    0         False
--------------------------------------------------------------
--------------------------------------------------------------
--------------------------------------------------------------
--------------------------------------------------------------
--------------------------------------------------------------
--------------------------------------------------------------
     country  rank grade president    gdp  boolean_rank
0        kor     1     A      yoon   1000          True
1        usa     2     B     biden   2000          True
2      china     3     C   jinping   3000         False
3      japan     4     D   kishida  40000         False
7  singaploe     5     E       jao   2000         False

In [122]:

# inplace 옵션 = 정말로 삭제하시겠습니까? 네! 


df.drop(3,inplace=True) #


#근데 또 df 찍어보면 위에서 지운 etc, 3행이 그대로 들어가 있다. 
# 실제 결과는 지워 지지 않았다.
# inplace라는 옵션으로 이 뜻이 
# 정말로 지우시겠습니까? 정말로 삭제하시겠습니까? 이다. 기본값은 inplace는 false다. 이것을 true로 바꿔줘야 한다.

df

KeyError: '[3] not found in axis'

# 집합함수 (Aggregation)

- df.sum()
- df.mean()
- df.min()
- df.max()
- df.describe()

- df.unique()
- df.nunique()

In [131]:
df

     country  rank grade president   gdp  etc  boolean_rank
0        kor     1     A      yoon  1000    0          True
1        usa     2     B     biden  2000    0          True
2      china     3     C   jinping  3000    0         False
7  singaploe     5     E       jao  2000    0         False

In [124]:

df.sum()


# 
# 숫자는 숫자를 다 더하고 
# 문자열은 문자열을 다 더한다.

country         korusachinasingaploe
rank                              11
grade                           ABCE
president        yoonbidenjinpingjao
gdp                 1000200030002000
etc                                0
boolean_rank                       2
dtype: object

In [126]:
df.mean() 

#문자열도  평균을 낸다.

TypeError: Could not convert ['korusachinasingaploe'] to numeric

In [127]:
df.describe()

           rank  etc
count  4.000000  4.0
mean   2.750000  0.0
std    1.707825  0.0
min    1.000000  0.0
25%    1.750000  0.0
50%    2.500000  0.0
75%    3.500000  0.0
max    5.000000  0.0

In [128]:
df.info()


# 4   gdp           4 non-null      object 
# gdp가 int가아닌 object네? 그러면 이것을 int로 바꿔줘야 겠다.

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 0 to 7
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country       4 non-null      object
 1   rank          4 non-null      int64
 2   grade         4 non-null      object
 3   president     4 non-null      object
 4   gdp           4 non-null      object
 5   etc           4 non-null      int64
 6   boolean_rank  4 non-null      bool
dtypes: bool(1), int64(2), object(4)
memory usage: 400.0+ bytes

# 데이터정렬 (sort)

In [130]:
df.sort_values(by=['rank'], ascending=False)  #내림차순으로 랭크가 표현이 된다.

     country  rank grade president   gdp  etc  boolean_rank
7  singaploe     5     E       jao  2000    0         False
2      china     3     C   jinping  3000    0         False
1        usa     2     B     biden  2000    0          True
0        kor     1     A      yoon  1000    0          True

# Null 데이터 처리 

- NaN : Not a number (=> 비어있는 데이터, null 데이터 , non 데이터)
- isnull() : 데이터가 null 이니? => boolean inexing
- fillna() : null 데이터를 내가 원하는 값으로 채워줘
- dropna() : null 데이터를 제거해줘

In [132]:
df.isna()

   country   rank  grade  president    gdp    etc  boolean_rank
0    False  False  False      False  False  False         False
1    False  False  False      False  False  False         False
2    False  False  False      False  False  False         False
7    False  False  False      False  False  False         False

In [134]:
df['check'] = np.nan

df

     country  rank grade president   gdp  etc  boolean_rank  check
0        kor     1     A      yoon  1000    0          True    NaN
1        usa     2     B     biden  2000    0          True    NaN
2      china     3     C   jinping  3000    0         False    NaN
7  singaploe     5     E       jao  2000    0         False    NaN

In [136]:
df.isnull()  #
df.isna()

   country   rank  grade  president    gdp    etc  boolean_rank  check
0    False  False  False      False  False  False         False   True
1    False  False  False      False  False  False         False   True
2    False  False  False      False  False  False         False   True
7    False  False  False      False  False  False         False   True

In [137]:
df

#null 데이터를 마주했을 때 여러분의 선택?
# 1) 제거한다. => 제거하고자 하는 데이터가 소량일 때, (기준은 정하기 나름이다.) 분석 => 소통할 수 있는 사람
# 100만건 데이터를 받았어요. nan 데이터가 10만건 되네 => 지우고 90만건으로 분석을 했어요. 
# 담당자가 데이터는 100만건 드렸는데요? 왜 90만건이죠?
# 제거를 하게되면 제거를 하게된 합당한 이유를 찾으셔야 한다. 그리고 소통하셔야 한다. (명분)


# 2) 값을 채워넣는다. 
#제거하면 안되는 너무 중효한 데이터야  ( 통신사 고객 데이터중 나이 데이터가 비어있다. => 고객 평균 나이를 넣어서 분석한다. )

# - 평균값을 넣는다. 
# - 계산을 해서 넣는다. ( 고객 비율 또는 고객 데이터 중에서 페이스북 메신저 앱이 설치되어 있으면 10대일 가능이 높다. )
# null 데이터도 어떻게 넣느냐 도 굉장히 중요한 포인트다. - kaggle

     country  rank grade president   gdp  etc  boolean_rank  check
0        kor     1     A      yoon  1000    0          True    NaN
1        usa     2     B     biden  2000    0          True    NaN
2      china     3     C   jinping  3000    0         False    NaN
7  singaploe     5     E       jao  2000    0         False    NaN