# Pands 설치 및 라이브러리 import

In [25]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\enter\miniconda3\lib\site-packages (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\enter\miniconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\enter\miniconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\enter\miniconda3\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\enter\miniconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\enter\miniconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [24]:

import pandas as pd
import numpy as np

# Series

- 1개의 컬럼으로 구성된 1차원 데이터 셋

In [71]:

data = ["A", "B", "C", "D", "E"]

se = pd.Series(data)

se.index = ['a', 'b', 'c', 'd', 'e']
se.values
se[0]
se[0:3]

se.index.name = "No."
se.name = "alphabet"


print('se.index.name이 무엇일까?',se.index.name)
print('se.name 이 무엇이일까?',se.name)

print(se)


# 변수 se = Series(data)의 의미는 list data를 인자로 넣어서 Pandas Seires를 만들었다.
# 각 행은 인덱스로 표현된다.
# 각 열은 값으로 표현된다.
# Series에 저장된 값들은 array-like object로 저장된다. index label은 별도의 배열로 저장된다.
# pd.Series constructor 에 data list 를 전달해서 새로운 Series인 se를 만든다. 
# 생성된 변수 se 에 할당된다.

se.index.name이 무엇일까? No.
se.name 이 무엇이일까? alphabet
No.
a    A
b    B
c    C
d    D
e    E
Name: alphabet, dtype: object

# DataFrame

In [27]:
# 기획직군, PM직군도 DataAnalysis 장착하는 추세. (default)

import pandas as pd
import numpy as np

data = np.array([[1,2,3], [4,5,6], [7,8,9]])
index = ['A', 'B', 'C']
columns = ['D', 'E', 'F']

pd.DataFrame(data=data, index=index, columns=columns)

   D  E  F
A  1  2  3
B  4  5  6
C  7  8  9

In [28]:
data = {
    'country' : ["kor", "usa", "china", "japan"],
    'rank' : [1,2,3,4],
    'grade' : ["A", "B", "C", "D"]
}

df = pd.DataFrame(data)

# index 값 변경
df.index = ['a', 'b', 'c', 'd']

# new_df = df.set_index('rank')
new_df = df.set_index(['rank', 'grade'])
new_df

           country
rank grade
1    A         kor
2    B         usa
3    C       china
4    D       japan

# 데이터 셀렉션  ( 70 % ~ 80 %)

 내가 들고 오고 싶은 컬럼값만 들고 올 수 있다.
 
 
 - df.컬럼명, df['컬럼명']
 - df.loc[] =>  인덱스명, 컬럼명 기반이라 더 직관적이다. df.loc[0:100, ['rank','grade']] (0부터 100까지 불러오고, rank랑 grade불러와줘라)
 - df.iloc[]  => 위치 기반이라서 숫자 데이터가 들어간다.

In [29]:
# df (1) df.컬럼명, df['컬럼명']


df.country
df['country']

a      kor
b      usa
c    china
d    japan
Name: country, dtype: object

In [ ]:
df[['rank','country']]

columns = ['rank','country']

test_column1 = ['rank','country']
test_column2 =['rank','grade']
test_column3 = ['grade','country']

new_df1 = df[test_column1]
new_df2 = df[test_column2]
new_df3 = df[test_column3]

In [43]:
#(2) loc[인덱스명,컬럼명]
print(df)
df.loc['c',['grade','rank']] #여러가지 데이터를 들고 올 때는 리스트를 활용을 한다. 

#a-c까지 다 가져오는 방법 => 범위를 지정해주면된다.

df.loc['a':'c', ['grade','rank']]
df.loc['a':,['grade','rank']]

#데이터를 다 불러오는 방법 
df.loc[:]

  country  rank grade
a     kor     1     A
b     usa     2     B
c   china     3     C
d   japan     4     D

  country  rank grade
a     kor     1     A
b     usa     2     B
c   china     3     C
d   japan     4     D

In [45]:

#country가 kor, usa인 값을 출력해주세요.
#데이터를 추출하는 방법



df['rank'] > 2 #True/False
df[df['rank']>2] #df형식으로 나온다.

# df[df['country'] =='kor' | df['country'] =='usa']
df[(df['country']=='kor') | (df['country'] == 'usa')]

  country  rank grade
a     kor     1     A
b     usa     2     B

In [48]:
#3)iloc[인덱스, 컬럼인덱스] => location 위치 기반으로 데이터를 가져온다. 

df.loc[0] #에러가 나온다. loc 뒤에는 인덱스명, 컬럼명이 들어온다. 
df.iloc[0] #인덱스 값이 0인 녀석

KeyError: 0

In [49]:
new_df = df
new_df.index=[0,1,2,3]
new_df

  country  rank grade
0     kor     1     A
1     usa     2     B
2   china     3     C
3   japan     4     D

In [50]:
new_df.loc[0]

new_df.loc[0:3] #값이 0부터 3인 것을 다 가져와줘

  country  rank grade
0     kor     1     A
1     usa     2     B
2   china     3     C
3   japan     4     D

In [51]:
new_df.iloc[0:3] #범위 (3보다 크거나 같고 3보다 작은 값)

  country  rank grade
0     kor     1     A
1     usa     2     B
2   china     3     C