# 서울시 인구 데이터 분석

In [1]:
# 라이브러리 import

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# 데이터파일 read

df = pd.read_excel('seoul_popular_data.xls')
df

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2022.1/4,합계,4451444,9732617,4716704,5015913,9506778,4613910,4892868,225839,102794,123045,2.14,1628980
3,2022.1/4,종로구,73766,153684,74018,79666,144275,69911,74364,9409,4107,5302,1.96,28064
4,2022.1/4,중구,63767,131450,63869,67581,122173,59448,62725,9277,4421,4856,1.92,24742
5,2022.1/4,용산구,111207,236518,114571,121947,222169,106735,115434,14349,7836,6513,2,39461
6,2022.1/4,성동구,134533,291609,141662,149947,285073,138847,146226,6536,2815,3721,2.12,46896
7,2022.1/4,광진구,169483,353110,169525,183585,340707,164346,176361,12403,5179,7224,2.01,52604
8,2022.1/4,동대문구,169695,352592,172318,180274,337982,166823,171159,14610,5495,9115,1.99,62963
9,2022.1/4,중랑구,187693,393600,193623,199977,389043,191835,197208,4557,1788,2769,2.07,72851
10,2022.1/4,성북구,197296,442680,212277,230403,433150,208691,224459,9530,3586,5944,2.2,75719
11,2022.1/4,강북구,144725,300824,145934,154890,297384,144643,152741,3440,1291,2149,2.05,64961
12,2022.1/4,도봉구,138836,318100,154440,163660,316098,153716,162382,2002,724,1278,2.28,65122
13,2022.1/4,노원구,219065,514445,247417,267028,510486,245663,264823,3959,1754,2205,2.33,89426
14,2022.1/4,은평구,215178,476013,227172,248841,472259,225640,246619,3754,1532,2222,2.19,88418
15,2022.1/4,서대문구,145044,317075,149805,167270,305866,145958,159908,11209,3847,7362,2.11,55012
16,2022.1/4,마포구,180702,378629,176886,201743,368331,173073,195258,10298,3813,6485,2.04,55168
17,2022.1/4,양천구,181765,449378,219882,229496,446182,218554,227628,3196,1328,1868,2.45,69953
18,2022.1/4,강서구,272572,578426,277797,300629,573046,275422,297624,5380,2375,3005,2.1,93924
19,2022.1/4,구로구,181916,419984,208027,211957,396017,195002,201015,23967,13025,10942,2.18,73864
20,2022.1/4,금천구,118697,244901,123959,120942,231098,116568,114530,13803,7391,6412,1.95,41819
21,2022.1/4,영등포구,188193,400241,198080,202161,376740,185696,191044,23501,12384,11117,2,63547
22,2022.1/4,동작구,186419,394649,190377,204272,386017,186648,199369,8632,3729,4903,2.07,67470
23,2022.1/4,관악구,279353,500336,250450,249886,486375,244409,241966,13961,6041,7920,1.74,80686
24,2022.1/4,서초구,169895,413677,197665,216012,409823,195806,214017,3854,1859,1995,2.41,61404
25,2022.1/4,강남구,234612,537338,257096,280242,532577,254866,277711,4761,2230,2531,2.27,79575
26,2022.1/4,송파구,285106,668261,321963,346298,662607,319407,343200,5654,2556,3098,2.32,99854
27,2022.1/4,강동구,201926,465097,227891,237206,461300,226203,235097,3797,1688,2109,2.28,75477

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   기간        28 non-null     object
 1   자치구       28 non-null     object
 2   세대        28 non-null     object
 3   인구        28 non-null     object
 4   인구.1      28 non-null     object
 5   인구.2      28 non-null     object
 6   인구.3      28 non-null     object
 7   인구.4      28 non-null     object
 8   인구.5      28 non-null     object
 9   인구.6      28 non-null     object
 10  인구.7      28 non-null     object
 11  인구.8      28 non-null     object
 12  세대당인구     28 non-null     object
 13  65세이상고령자  28 non-null     object
dtypes: object(14)
memory usage: 3.2+ KB

In [4]:
df.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2022.1/4,합계,4451444,9732617,4716704,5015913,9506778,4613910,4892868,225839,102794,123045,2.14,1628980
3,2022.1/4,종로구,73766,153684,74018,79666,144275,69911,74364,9409,4107,5302,1.96,28064
4,2022.1/4,중구,63767,131450,63869,67581,122173,59448,62725,9277,4421,4856,1.92,24742

(1) 자치구, 합계, 한국인, 등록외국인, 65세이상고령자 컬럼 데이터 가져오기

In [6]:
df = pd.read_excel('seoul_popular_data.xls')
df

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2022.1/4,합계,4451444,9732617,4716704,5015913,9506778,4613910,4892868,225839,102794,123045,2.14,1628980
3,2022.1/4,종로구,73766,153684,74018,79666,144275,69911,74364,9409,4107,5302,1.96,28064
4,2022.1/4,중구,63767,131450,63869,67581,122173,59448,62725,9277,4421,4856,1.92,24742
5,2022.1/4,용산구,111207,236518,114571,121947,222169,106735,115434,14349,7836,6513,2,39461
6,2022.1/4,성동구,134533,291609,141662,149947,285073,138847,146226,6536,2815,3721,2.12,46896
7,2022.1/4,광진구,169483,353110,169525,183585,340707,164346,176361,12403,5179,7224,2.01,52604
8,2022.1/4,동대문구,169695,352592,172318,180274,337982,166823,171159,14610,5495,9115,1.99,62963
9,2022.1/4,중랑구,187693,393600,193623,199977,389043,191835,197208,4557,1788,2769,2.07,72851
10,2022.1/4,성북구,197296,442680,212277,230403,433150,208691,224459,9530,3586,5944,2.2,75719
11,2022.1/4,강북구,144725,300824,145934,154890,297384,144643,152741,3440,1291,2149,2.05,64961
12,2022.1/4,도봉구,138836,318100,154440,163660,316098,153716,162382,2002,724,1278,2.28,65122
13,2022.1/4,노원구,219065,514445,247417,267028,510486,245663,264823,3959,1754,2205,2.33,89426
14,2022.1/4,은평구,215178,476013,227172,248841,472259,225640,246619,3754,1532,2222,2.19,88418
15,2022.1/4,서대문구,145044,317075,149805,167270,305866,145958,159908,11209,3847,7362,2.11,55012
16,2022.1/4,마포구,180702,378629,176886,201743,368331,173073,195258,10298,3813,6485,2.04,55168
17,2022.1/4,양천구,181765,449378,219882,229496,446182,218554,227628,3196,1328,1868,2.45,69953
18,2022.1/4,강서구,272572,578426,277797,300629,573046,275422,297624,5380,2375,3005,2.1,93924
19,2022.1/4,구로구,181916,419984,208027,211957,396017,195002,201015,23967,13025,10942,2.18,73864
20,2022.1/4,금천구,118697,244901,123959,120942,231098,116568,114530,13803,7391,6412,1.95,41819
21,2022.1/4,영등포구,188193,400241,198080,202161,376740,185696,191044,23501,12384,11117,2,63547
22,2022.1/4,동작구,186419,394649,190377,204272,386017,186648,199369,8632,3729,4903,2.07,67470
23,2022.1/4,관악구,279353,500336,250450,249886,486375,244409,241966,13961,6041,7920,1.74,80686
24,2022.1/4,서초구,169895,413677,197665,216012,409823,195806,214017,3854,1859,1995,2.41,61404
25,2022.1/4,강남구,234612,537338,257096,280242,532577,254866,277711,4761,2230,2531,2.27,79575
26,2022.1/4,송파구,285106,668261,321963,346298,662607,319407,343200,5654,2556,3098,2.32,99854
27,2022.1/4,강동구,201926,465097,227891,237206,461300,226203,235097,3797,1688,2109,2.28,75477

In [7]:
df = pd.read_excel('seoul_popular_data.xls', header=2)
df

,기간,자치구,세대,계,남자,여자,계.1,남자.1,여자.1,계.2,남자.2,여자.2,세대당인구,65세이상고령자
0,2022.1/4,합계,4451444,9732617,4716704,5015913,9506778,4613910,4892868,225839,102794,123045,2.14,1628980
1,2022.1/4,종로구,73766,153684,74018,79666,144275,69911,74364,9409,4107,5302,1.96,28064
2,2022.1/4,중구,63767,131450,63869,67581,122173,59448,62725,9277,4421,4856,1.92,24742
3,2022.1/4,용산구,111207,236518,114571,121947,222169,106735,115434,14349,7836,6513,2.00,39461
4,2022.1/4,성동구,134533,291609,141662,149947,285073,138847,146226,6536,2815,3721,2.12,46896
5,2022.1/4,광진구,169483,353110,169525,183585,340707,164346,176361,12403,5179,7224,2.01,52604
6,2022.1/4,동대문구,169695,352592,172318,180274,337982,166823,171159,14610,5495,9115,1.99,62963
7,2022.1/4,중랑구,187693,393600,193623,199977,389043,191835,197208,4557,1788,2769,2.07,72851
8,2022.1/4,성북구,197296,442680,212277,230403,433150,208691,224459,9530,3586,5944,2.20,75719
9,2022.1/4,강북구,144725,300824,145934,154890,297384,144643,152741,3440,1291,2149,2.05,64961
10,2022.1/4,도봉구,138836,318100,154440,163660,316098,153716,162382,2002,724,1278,2.28,65122
11,2022.1/4,노원구,219065,514445,247417,267028,510486,245663,264823,3959,1754,2205,2.33,89426
12,2022.1/4,은평구,215178,476013,227172,248841,472259,225640,246619,3754,1532,2222,2.19,88418
13,2022.1/4,서대문구,145044,317075,149805,167270,305866,145958,159908,11209,3847,7362,2.11,55012
14,2022.1/4,마포구,180702,378629,176886,201743,368331,173073,195258,10298,3813,6485,2.04,55168
15,2022.1/4,양천구,181765,449378,219882,229496,446182,218554,227628,3196,1328,1868,2.45,69953
16,2022.1/4,강서구,272572,578426,277797,300629,573046,275422,297624,5380,2375,3005,2.10,93924
17,2022.1/4,구로구,181916,419984,208027,211957,396017,195002,201015,23967,13025,10942,2.18,73864
18,2022.1/4,금천구,118697,244901,123959,120942,231098,116568,114530,13803,7391,6412,1.95,41819
19,2022.1/4,영등포구,188193,400241,198080,202161,376740,185696,191044,23501,12384,11117,2.00,63547
20,2022.1/4,동작구,186419,394649,190377,204272,386017,186648,199369,8632,3729,4903,2.07,67470
21,2022.1/4,관악구,279353,500336,250450,249886,486375,244409,241966,13961,6041,7920,1.74,80686
22,2022.1/4,서초구,169895,413677,197665,216012,409823,195806,214017,3854,1859,1995,2.41,61404
23,2022.1/4,강남구,234612,537338,257096,280242,532577,254866,277711,4761,2230,2531,2.27,79575
24,2022.1/4,송파구,285106,668261,321963,346298,662607,319407,343200,5654,2556,3098,2.32,99854
25,2022.1/4,강동구,201926,465097,227891,237206,461300,226203,235097,3797,1688,2109,2.28,75477

In [9]:
# 데이터 파일 read
df = pd.read_excel('seoul_popular_data.xls', header=1, usecols="B, D, G, J, N")
df

     자치구       합계      한국인   등록외국인  65세이상고령자
0    자치구        계        계       계  65세이상고령자
1     합계  9732617  9506778  225839   1628980
2    종로구   153684   144275    9409     28064
3     중구   131450   122173    9277     24742
4    용산구   236518   222169   14349     39461
5    성동구   291609   285073    6536     46896
6    광진구   353110   340707   12403     52604
7   동대문구   352592   337982   14610     62963
8    중랑구   393600   389043    4557     72851
9    성북구   442680   433150    9530     75719
10   강북구   300824   297384    3440     64961
11   도봉구   318100   316098    2002     65122
12   노원구   514445   510486    3959     89426
13   은평구   476013   472259    3754     88418
14  서대문구   317075   305866   11209     55012
15   마포구   378629   368331   10298     55168
16   양천구   449378   446182    3196     69953
17   강서구   578426   573046    5380     93924
18   구로구   419984   396017   23967     73864
19   금천구   244901   231098   13803     41819
20  영등포구   400241   376740   23501     63547
21   동작구   394649   386017    8632     67470
22   관악구   500336   486375   13961     80686
23   서초구   413677   409823    3854     61404
24   강남구   537338   532577    4761     79575
25   송파구   668261   662607    5654     99854
26   강동구   465097   461300    3797     75477

In [ ]:
(1) 자치구, 합계, 한국인, 등록외국인, 65세이상고령자 컬럼 데이터 가져오기

(2) 컬럼명을 변경하기

In [12]:
df.columns = ['구','인구수','한국인','외국인','고령자']
df

       구      인구수      한국인     외국인       고령자
0    자치구        계        계       계  65세이상고령자
1     합계  9732617  9506778  225839   1628980
2    종로구   153684   144275    9409     28064
3     중구   131450   122173    9277     24742
4    용산구   236518   222169   14349     39461
5    성동구   291609   285073    6536     46896
6    광진구   353110   340707   12403     52604
7   동대문구   352592   337982   14610     62963
8    중랑구   393600   389043    4557     72851
9    성북구   442680   433150    9530     75719
10   강북구   300824   297384    3440     64961
11   도봉구   318100   316098    2002     65122
12   노원구   514445   510486    3959     89426
13   은평구   476013   472259    3754     88418
14  서대문구   317075   305866   11209     55012
15   마포구   378629   368331   10298     55168
16   양천구   449378   446182    3196     69953
17   강서구   578426   573046    5380     93924
18   구로구   419984   396017   23967     73864
19   금천구   244901   231098   13803     41819
20  영등포구   400241   376740   23501     63547
21   동작구   394649   386017    8632     67470
22   관악구   500336   486375   13961     80686
23   서초구   413677   409823    3854     61404
24   강남구   537338   532577    4761     79575
25   송파구   668261   662607    5654     99854
26   강동구   465097   461300    3797     75477

(3) 합계 행 제거하기

In [13]:
df.drop([0],inplace=True)
df

       구      인구수      한국인     외국인      고령자
1     합계  9732617  9506778  225839  1628980
2    종로구   153684   144275    9409    28064
3     중구   131450   122173    9277    24742
4    용산구   236518   222169   14349    39461
5    성동구   291609   285073    6536    46896
6    광진구   353110   340707   12403    52604
7   동대문구   352592   337982   14610    62963
8    중랑구   393600   389043    4557    72851
9    성북구   442680   433150    9530    75719
10   강북구   300824   297384    3440    64961
11   도봉구   318100   316098    2002    65122
12   노원구   514445   510486    3959    89426
13   은평구   476013   472259    3754    88418
14  서대문구   317075   305866   11209    55012
15   마포구   378629   368331   10298    55168
16   양천구   449378   446182    3196    69953
17   강서구   578426   573046    5380    93924
18   구로구   419984   396017   23967    73864
19   금천구   244901   231098   13803    41819
20  영등포구   400241   376740   23501    63547
21   동작구   394649   386017    8632    67470
22   관악구   500336   486375   13961    80686
23   서초구   413677   409823    3854    61404
24   강남구   537338   532577    4761    79575
25   송파구   668261   662607    5654    99854
26   강동구   465097   461300    3797    75477

In [14]:
#합계행 제거
#구별로 데이터를 분석하고 싶어서 

df.drop([1],inplace=True)
df

       구     인구수     한국인    외국인    고령자
2    종로구  153684  144275   9409  28064
3     중구  131450  122173   9277  24742
4    용산구  236518  222169  14349  39461
5    성동구  291609  285073   6536  46896
6    광진구  353110  340707  12403  52604
7   동대문구  352592  337982  14610  62963
8    중랑구  393600  389043   4557  72851
9    성북구  442680  433150   9530  75719
10   강북구  300824  297384   3440  64961
11   도봉구  318100  316098   2002  65122
12   노원구  514445  510486   3959  89426
13   은평구  476013  472259   3754  88418
14  서대문구  317075  305866  11209  55012
15   마포구  378629  368331  10298  55168
16   양천구  449378  446182   3196  69953
17   강서구  578426  573046   5380  93924
18   구로구  419984  396017  23967  73864
19   금천구  244901  231098  13803  41819
20  영등포구  400241  376740  23501  63547
21   동작구  394649  386017   8632  67470
22   관악구  500336  486375  13961  80686
23   서초구  413677  409823   3854  61404
24   강남구  537338  532577   4761  79575
25   송파구  668261  662607   5654  99854
26   강동구  465097  461300   3797  75477

In [15]:
new_df = df.reset_index()
new_df

    index     구     인구수     한국인    외국인    고령자
0       2   종로구  153684  144275   9409  28064
1       3    중구  131450  122173   9277  24742
2       4   용산구  236518  222169  14349  39461
3       5   성동구  291609  285073   6536  46896
4       6   광진구  353110  340707  12403  52604
5       7  동대문구  352592  337982  14610  62963
6       8   중랑구  393600  389043   4557  72851
7       9   성북구  442680  433150   9530  75719
8      10   강북구  300824  297384   3440  64961
9      11   도봉구  318100  316098   2002  65122
10     12   노원구  514445  510486   3959  89426
11     13   은평구  476013  472259   3754  88418
12     14  서대문구  317075  305866  11209  55012
13     15   마포구  378629  368331  10298  55168
14     16   양천구  449378  446182   3196  69953
15     17   강서구  578426  573046   5380  93924
16     18   구로구  419984  396017  23967  73864
17     19   금천구  244901  231098  13803  41819
18     20  영등포구  400241  376740  23501  63547
19     21   동작구  394649  386017   8632  67470
20     22   관악구  500336  486375  13961  80686
21     23   서초구  413677  409823   3854  61404
22     24   강남구  537338  532577   4761  79575
23     25   송파구  668261  662607   5654  99854
24     26   강동구  465097  461300   3797  75477

In [20]:
new_df.drop('index', inplace=True, axis=1)

KeyError: "['index'] not found in axis"

In [21]:
new_df

       구     인구수     한국인    외국인    고령자
0    종로구  153684  144275   9409  28064
1     중구  131450  122173   9277  24742
2    용산구  236518  222169  14349  39461
3    성동구  291609  285073   6536  46896
4    광진구  353110  340707  12403  52604
5   동대문구  352592  337982  14610  62963
6    중랑구  393600  389043   4557  72851
7    성북구  442680  433150   9530  75719
8    강북구  300824  297384   3440  64961
9    도봉구  318100  316098   2002  65122
10   노원구  514445  510486   3959  89426
11   은평구  476013  472259   3754  88418
12  서대문구  317075  305866  11209  55012
13   마포구  378629  368331  10298  55168
14   양천구  449378  446182   3196  69953
15   강서구  578426  573046   5380  93924
16   구로구  419984  396017  23967  73864
17   금천구  244901  231098  13803  41819
18  영등포구  400241  376740  23501  63547
19   동작구  394649  386017   8632  67470
20   관악구  500336  486375  13961  80686
21   서초구  413677  409823   3854  61404
22   강남구  537338  532577   4761  79575
23   송파구  668261  662607   5654  99854
24   강동구  465097  461300   3797  75477

(4) 각 구별 전체 인구를 이용해서 구별 '외국인비율'과 '고령자비율' 컬럼을 추가하고, 소수점 첫째자리 반올림하기

- 외국인 비율: 외국인 / 인구수 * 100

- 고령자 비율: 고령자 / 인구수 * 100

In [37]:
new_df.info()

#부비트랩이었다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구       25 non-null     object
 1   인구수     25 non-null     object
 2   한국인     25 non-null     object
 3   외국인     25 non-null     object
 4   고령자     25 non-null     object
dtypes: object(5)
memory usage: 1.1+ KB

In [38]:
new_df.info()

new_df['인구수'] = new_df['인구수'].astype('int')
new_df['한국인'] = new_df['한국인'].astype('int')
new_df['외국인'] = new_df['외국인'].astype('int')
new_df['고령자'] = new_df['고령자'].astype('int')


new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구       25 non-null     object
 1   인구수     25 non-null     object
 2   한국인     25 non-null     object
 3   외국인     25 non-null     object
 4   고령자     25 non-null     object
dtypes: object(5)
memory usage: 1.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구       25 non-null     object
 1   인구수     25 non-null     int32
 2   한국인     25 non-null     int32
 3   외국인     25 non-null     int32
 4   고령자     25 non-null     int32
dtypes: int32(4), object(1)
memory usage: 728.0+ bytes

In [43]:
import numpy as np

new_df['외국인비율'] = np.round(new_df['외국인'] / new_df['인구수'] * 100, 1)
new_df['고령자비율'] = np.round(new_df['고령자'] / new_df['인구수'] * 100, 1)

new_df

       구     인구수     한국인    외국인    고령자  외국인비율  고령자비율
0    종로구  153684  144275   9409  28064    6.1   18.3
1     중구  131450  122173   9277  24742    7.1   18.8
2    용산구  236518  222169  14349  39461    6.1   16.7
3    성동구  291609  285073   6536  46896    2.2   16.1
4    광진구  353110  340707  12403  52604    3.5   14.9
5   동대문구  352592  337982  14610  62963    4.1   17.9
6    중랑구  393600  389043   4557  72851    1.2   18.5
7    성북구  442680  433150   9530  75719    2.2   17.1
8    강북구  300824  297384   3440  64961    1.1   21.6
9    도봉구  318100  316098   2002  65122    0.6   20.5
10   노원구  514445  510486   3959  89426    0.8   17.4
11   은평구  476013  472259   3754  88418    0.8   18.6
12  서대문구  317075  305866  11209  55012    3.5   17.3
13   마포구  378629  368331  10298  55168    2.7   14.6
14   양천구  449378  446182   3196  69953    0.7   15.6
15   강서구  578426  573046   5380  93924    0.9   16.2
16   구로구  419984  396017  23967  73864    5.7   17.6
17   금천구  244901  231098  13803  41819    5.6   17.1
18  영등포구  400241  376740  23501  63547    5.9   15.9
19   동작구  394649  386017   8632  67470    2.2   17.1
20   관악구  500336  486375  13961  80686    2.8   16.1
21   서초구  413677  409823   3854  61404    0.9   14.8
22   강남구  537338  532577   4761  79575    0.9   14.8
23   송파구  668261  662607   5654  99854    0.8   14.9
24   강동구  465097  461300   3797  75477    0.8   16.2

(5) 인구수별로 내림차순 정렬하기

In [59]:
population_sorted_by_descending=new_df.sort_values(by='인구수', ascending=False)

population_sorted_by_descending

       구     인구수     한국인    외국인    고령자  외국인비율  고령자비율
23   송파구  668261  662607   5654  99854    0.8   14.9
15   강서구  578426  573046   5380  93924    0.9   16.2
22   강남구  537338  532577   4761  79575    0.9   14.8
10   노원구  514445  510486   3959  89426    0.8   17.4
20   관악구  500336  486375  13961  80686    2.8   16.1
11   은평구  476013  472259   3754  88418    0.8   18.6
24   강동구  465097  461300   3797  75477    0.8   16.2
14   양천구  449378  446182   3196  69953    0.7   15.6
7    성북구  442680  433150   9530  75719    2.2   17.1
16   구로구  419984  396017  23967  73864    5.7   17.6
21   서초구  413677  409823   3854  61404    0.9   14.8
18  영등포구  400241  376740  23501  63547    5.9   15.9
19   동작구  394649  386017   8632  67470    2.2   17.1
6    중랑구  393600  389043   4557  72851    1.2   18.5
13   마포구  378629  368331  10298  55168    2.7   14.6
4    광진구  353110  340707  12403  52604    3.5   14.9
5   동대문구  352592  337982  14610  62963    4.1   17.9
9    도봉구  318100  316098   2002  65122    0.6   20.5
12  서대문구  317075  305866  11209  55012    3.5   17.3
8    강북구  300824  297384   3440  64961    1.1   21.6
3    성동구  291609  285073   6536  46896    2.2   16.1
17   금천구  244901  231098  13803  41819    5.6   17.1
2    용산구  236518  222169  14349  39461    6.1   16.7
0    종로구  153684  144275   9409  28064    6.1   18.3
1     중구  131450  122173   9277  24742    7.1   18.8

(6) 외국인수와 외국인비율로 내림차순 정렬하기

In [ ]:
foreign_sorted_by_descending

(7) 고령자수 / 고령자비율로 내림차순 정렬하기

(8) 인덱스 값을 '구'별 데이터로 변경하기 - groupby 활용

(9) 구별 인구수 데이터를 바 그래프로 내림차순 정렬 후 시각화하기